/* Fix */
html, body, header, footer, section, article, div, nav, a, 
p, h1, h2, h3, h4, h5, h6, ul, ol, a, figure, img {
    margin: 0;
    padding: 0;
}

/* Main styles */
html {
    font-size: 16px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    font-size: .875rem;
    line-height: 1.5rem;
}
a,
a:visited {
    transition: .3s all;
}
a:hover,
a:active {
    transition: .3s all;
}
img {
    width: 100%;
}
main {
    background-color: #f5f6fa;
    background-image: url(../images/bg_pattern.svg);
    background-size: 384px;
    animation: animBg 10s linear infinite;
}
@keyframes animBg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -384px 384px;
    }
}
a,
a:visited {
    color: #f79226;
}
a:hover {
    color: #4da8da;
}
figcaption {
    font-style: italic;
    line-height: 1.5rem;
    font-size: .75rem;
    text-align: center;
    margin-bottom: 1rem;
}
hr {
    width: 75%;
    margin-bottom: 2rem;
    border-top: none;
    border-bottom: 1px dashed #4da8da;
}

/* repeating styles */
.lebel_res { background-color: #2980b9; }
.lebel_des { background-color: #27ae60; }
.lebel_art { background-color: #8e44ad; }
.lebel_dev { background-color: #e74c3c; }
.lebel_misc { background-color: #f39c12; }

@keyframes animBottomLeft {
    0% {
        left: -5vw;
        bottom: -5vw;
    }
    10% {
        opacity: 0;
    }
    100% {
        left: 0;
        bottom: 0;
        opacity: 1;
    }
}
@keyframes animBottomRight {
    0% {
        right: -5vw;
        bottom: -5vw;
    }
    10% {
        opacity: 0;
    }
    100% {
        right: 0;
        bottom: 0;
        opacity: 1;
    }
}

/* modal window */
.zoom {
    cursor: zoom-in;
}
#modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.75);
    cursor: zoom-out;
}
#modal img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
}

/* core layout */
body {
    display: grid;
    grid-template: auto / minmax(min-content, 10vw) minmax(min-content, 90vw);
    justify-items: stretch;
    overflow-x: hidden;
}
body>aside {
    grid-area: 1/1/2/2;
}
body>main {
    grid-area: 1/2/2/3;
}

/* sidebar */
body>aside {
    display: grid;
    grid-template: minmax(100vh,min-content) auto / auto;
    background: #12232e;
    color: #4da8da;
    font-variant: small-caps;
    z-index: 11;
}
body>aside div {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh 2vw;
}
body>aside header img {
    width: 5rem;
    margin: 2vmin auto;
}
body>aside header ul {
    list-style: none;
}
body>aside header ul li {
    text-align: start;
    padding-bottom: 1vh;
}
body>aside header ul span {
    display: block;
    color: #F79226;
}
body>aside nav {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}
body>aside nav a {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
}
body>aside nav a:before {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #F79226;
    transition: .3s all;
}
body>aside nav a:before {
    margin-right: .75rem;
}
body>aside nav a:hover:before,
body>aside nav a:hover:after {
    background-color: #4da8da;
    transition: .3s all;
}
body>aside footer {
    margin-bottom: 2vh;
}
body>aside footer p {
    font-size: .6875rem;
}

/* intro */
main.home {
    display: grid;
    grid-template: 5vh repeat(8,minmax(3vh,min-content)) 5vh / 3vw repeat(12,1fr) 3vw;
}
main.home h2 {
    font-variant: small-caps;
    font-weight: 400;
}
main.home p {
    margin: .5rem 0;
}
div.decor_one {
    grid-area: 1/7/12/12;
    background: #f79226;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px;
}
main.home section.hello {
    grid-area: 3/5/4/15;
    display: grid;
    grid-template: auto / repeat(10,1fr);
    padding: 3vh 3vw;
    background: #12232e;
    color: #eff7f6;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px;
}
main.home section.hello div {
    grid-area: 1/1/2/7;
}
main.home section.hello h1 {
    font-size: 1.5rem;
    font-variant: small-caps;
    font-weight: 100;
}
main.home section.hello span {
    color: #f79226;
    font-weight: 400;
}
main.home section.hello p {
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 1rem;
}
main.home section.photo {
    grid-area: 2/11/5/13;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
    height: 100%;
}
main.home section.photo img {
    height: 100%;
    object-fit: cover;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
main.home section.featured {
    grid-area: 9/1/10/15;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh 2vw;
    background: #4da8da;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px;
}
main.home section.featured h2 {
    text-align: center;
}
main.home section.featured>div {
    display: flex;
    gap: 2vh;
}
main.home section.featured a {
    display: grid;
    grid-template: minmax(20vh, min-content) / max-content 1fr;
    text-decoration: none;
    overflow: hidden;
}
main.home section.featured a img {
    grid-area: 1/1/2/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}
main.home section.featured a div {
    grid-area: 1/1/2/2;
    display: grid;
    z-index: 10;
    padding: 2vmax;
    color: #eff7f6;
    background: linear-gradient(90deg, rgba(18,35,46,1) 0%, rgba(18,35,46,.9) 100%);
    font-variant: small-caps;
    align-content: center;
    transform: translateX(-100%);
    transition: .5s cubic-bezier(.18,.89,.32,1.28);
}
main.home section.featured a:hover div {
    transform: translateX(0);
}

/* single page layout */
main.single_page article {
    width: 80%;
    max-width: 960px;
    margin: 12vh auto;
    display: flex;
    flex-direction: column;
}
main.single_page article div.row_right,
main.single_page article div.row_left,
main.single_page article div.row_column,
main.single_page article div.row_center {
    display: flex;
    padding: 4vh 4vw;
    background: #f9fbff;
    color: #000;
    box-shadow: rgba(247, 146, 38, 0.25) -4px 4px, rgba(247, 146, 38, 0.2) -8px 8px, rgba(247, 146, 38, 0.15) -12px 12px, rgba(247, 146, 38, 0.1) -16px 16px, rgba(247, 146, 38, 0.05) -20px 20px;
}
main.single_page article div.row_left {
    flex-direction: row-reverse;
}
main.single_page article div.row_column {
    flex-direction: column;
}
main.single_page article div.row_center {
    align-items: center;
    gap: 2vw;
}
main.single_page article>div:first-of-type {
    padding-top: 8vh;
}
main.single_page article>div:last-of-type {
    padding-bottom: 8vh;
}
main.single_page article div.row_left section:nth-child(1),
main.single_page article div.row_right section:nth-child(1) {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main.single_page article div.row_left section:nth-child(1) {
    margin-left: 4vw;
}
main.single_page article div.row_right section:nth-child(1) {
    margin-right: 4vw;
}
main.single_page article div.row_left section:nth-child(2),
main.single_page article div.row_right section:nth-child(2) {
    flex-basis: 50%;
    align-self: center;
    padding: 1rem;
    color: #fff;
    background: #12232e;
    box-shadow: rgba(77, 168, 218, 0.25) -4px 4px, rgba(77, 168, 218, 0.2) -8px 8px, rgba(77, 168, 218, 0.15) -12px 12px, rgba(77, 168, 218, 0.1) -16px 16px, rgba(77, 168, 218, 0.05) -20px 20px;
}
main.single_page article div.row_left section:nth-child(2) {
    margin-left: -20%;
}
main.single_page article div.row_right section:nth-child(2) {
    margin-right: -20%;
}
main.single_page article p,
main.single_page article a,
main.single_page article ul,
main.single_page article li {
    font-size: 1rem;
    line-height: 2rem;
}
main.single_page article ul {
    list-style: none;
}
main.single_page article ul li::before {
    content: "\2B21";
    margin-right: 1rem;
    color: #4da8da;
}
article.resume header ul li::before,
article.project .details ul li::before,
article.project header ul li::before,
section.portfolio article ul li::before {
    content: none;
    margin: 0;
}
main.single_page article ul>li>ul {
    padding-left: 2rem;
}
main.single_page article p:not(:first-child) {
    margin-top: 1.5rem;
}
main.single_page article div.row_left section:nth-child(2)>*,
main.single_page article div.row_right section:nth-child(2)>* {
    padding: 1vh 1vw;
}
main.single_page article div.row_left section:nth-child(2)>figure,
main.single_page article div.row_right section:nth-child(2)>figure {
    padding: 0;
}

main.single_page article div section.jump_in {
    position: relative;
    opacity: 0;
    animation: animBottomLeft .5s ease-out forwards;
}
main.single_page div:nth-of-type(2) section.jump_in { animation-delay: 1s; }
main.single_page div:nth-of-type(3) section.jump_in { animation-delay: 2s; }
main.single_page div:nth-of-type(4) section.jump_in { animation-delay: 3s; }
main.single_page div:nth-of-type(5) section.jump_in { animation-delay: 4s; }
main.single_page div:nth-of-type(6) section.jump_in { animation-delay: 5s; }
main.single_page div:nth-of-type(7) section.jump_in { animation-delay: 6s; }

/* resume */
article.resume {
    padding: 8vh 4vw;
    box-sizing: border-box;
    background: #f9fbff;
    box-shadow: rgba(247, 146, 38, 0.25) -4px 4px, rgba(247, 146, 38, 0.2) -8px 8px, rgba(247, 146, 38, 0.15) -12px 12px, rgba(247, 146, 38, 0.1) -16px 16px, rgba(247, 146, 38, 0.05) -20px 20px;
}
article.resume h1,
article.resume h2,
article.resume h3,
article.resume h4 {
    font-weight: 100;
}
main.single_page article.resume ul li::before {
    color: #f39c12;
}
article.resume header {
    display: flex;
    align-items: center;
    gap: 1vw;
    font-variant: small-caps;
    padding-bottom: 1.5vh;
    border-bottom: 1px solid #f39c12;
}
article.resume header img {
    width: 5rem;
}
article.resume header h1 {
    font-size: 1.5rem;
    line-height: 2rem;
}
article.resume header h2 {
    font-size: 1.25rem;
    line-height: 2rem;
}
article.resume header ul {
    margin-left: auto;
    text-align: right;
    list-style: none;
}
article.resume header ul li {
    line-height: 1.5rem;
}
article.resume section h3 {
    margin: 4vh 0 2vh;
    font-size: 1.25rem;
    font-variant: small-caps;
}
article.resume div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
article.resume div>ul {
    flex-grow: 1;
    margin-right: 1rem;
}
article.resume details {
    margin-top: 2vh;
}
article.resume details>ul {
    padding-left: 2rem;
}
details > summary {
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    list-style: none;
}
details > summary::before {
    content: "\2B22";
    position: absolute;
    left: 0;
    color: #f39c12;
    font-size: 1.5rem;
    line-height: 2.625rem;
}
details[open] > summary::before {
    content: "\2B21";
}
article.resume details>summary h4,
article.resume details>summary time {
    color: #f39c12;
    line-height: 1.5rem;
}
main.single_page article.resume p {
    color: #696767;
    font-size: .875rem;
    line-height: 1.5rem;
    margin-top: 0;
}

/* single project */
article.project header {
    display: grid;
    grid-template: 1fr min-content min-content / 1fr;
    box-shadow: rgba(247, 146, 38, 0.25) -4px 4px, rgba(247, 146, 38, 0.2) -8px 8px, rgba(247, 146, 38, 0.15) -12px 12px, rgba(247, 146, 38, 0.1) -16px 16px, rgba(247, 146, 38, 0.05) -20px 20px;
}
article.project header img {
    grid-area: 1/1/4/2;
    min-height: 100%;
    object-fit: cover;
}
article.project header h2 {
    grid-area: 2/1/3/2;
    color: #12232e;
    margin-left: -2rem;
    padding: .5rem 0 .5rem 3rem;
    color: #fff;
    background: linear-gradient(90deg, rgba(18,35,46,.8) 0%, rgba(18,35,46,0) 70%);
    font-size: 2rem;
    font-variant: small-caps;
}
article.project .details ul {
    list-style: none;
}
article.project .details ul li {
    margin: .25rem;
    color: #eff7f6;
}
article.project .details ul li span {
    color: #4da8da;
}

/* portfolio */
section.portfolio article {
    display: grid;
    margin: 8vh auto;
    grid-template: 1fr min-content min-content / 1fr;
    box-shadow: rgba(77, 168, 218, 0.25) -4px 4px, rgba(77, 168, 218, 0.2) -8px 8px, rgba(77, 168, 218, 0.15) -12px 12px, rgba(77, 168, 218, 0.1) -16px 16px, rgba(77, 168, 218, 0.05) -20px 20px;
    transition: .3s all;
    position: relative;
    opacity: 0;
    animation: animBottomLeft .5s ease-out forwards;
}
section.portfolio article:hover {
    box-shadow: rgba(247, 146, 38, 0.25) -4px 4px, rgba(247, 146, 38, 0.2) -8px 8px, rgba(247, 146, 38, 0.15) -12px 12px, rgba(247, 146, 38, 0.1) -16px 16px, rgba(247, 146, 38, 0.05) -20px 20px;
    transition: .3s all;
}
section.portfolio a {
    grid-area: 1/1/4/2;
    z-index: 10;
}
section.portfolio article img {
    grid-area: 1/1/4/2;
    min-height: 100%;
    object-fit: cover;
}
section.portfolio article h2 {
    grid-area: 2/1/3/2;
    margin-left: -2rem;
    padding: .5rem 0 .5rem 3rem;
    color: #fff;
    background: linear-gradient(90deg, rgba(18,35,46,.8) 0%, rgba(18,35,46,0) 70%);
    font-size: 2rem;
    font-variant: small-caps;
}
section.portfolio article ul,
article.project header ul {
    grid-area: 3/1/4/2;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 1rem;
    list-style: none;
}
section.portfolio article ul li,
article.project header ul li {
    padding: 0 .5rem;
    border-radius: .25rem;
    font-size: .875rem;
    color: #eff7f6;
}
section.portfolio article:nth-child(1) { animation-delay: 0s; }
section.portfolio article:nth-child(2) { animation-delay: .2s; }
section.portfolio article:nth-child(3) { animation-delay: .4s; }
section.portfolio article:nth-child(4) { animation-delay: .6s; }
section.portfolio article:nth-child(5) { animation-delay: .8s; }
section.portfolio article:nth-child(6) { animation-delay: 1s; }
section.portfolio article:nth-child(7) { animation-delay: 1.2s; }
section.portfolio article:nth-child(8) { animation-delay: 1.4s; }
section.portfolio article:nth-child(9) { animation-delay: 1.6s; }
section.portfolio article:nth-child(10) { animation-delay: 1.8s; }
section.portfolio article:nth-child(11) { animation-delay: 2s; }
section.portfolio article:nth-child(12) { animation-delay: 2.2s; }

/* Media */
@media screen and (max-width: 1280px) {
    main.home section.hello {
        grid-area: 3/3/4/15;
    }
    main.home section.photo {
        grid-area: 2/10/5/14;
    }
    main.single_page article div.row_right,
    main.single_page article div.row_left,
    main.single_page article div.row_center {
        flex-direction: column;
        gap: 3vh;
    }
    main.single_page article div.row_left section:nth-child(1),
    main.single_page article div.row_left section:nth-child(2),
    main.single_page article div.row_right section:nth-child(1),
    main.single_page article div.row_right section:nth-child(2) {
        flex-basis: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 960px) {
    main.home section.hello {
        grid-area: 4/2/6/15;
    }
    main.home section.hello div {
        grid-area: 1/1/5/13;
    }
    main.home section.photo {
        grid-area: 1/7/4/12;
        filter: none;
        height: auto;
    }
    main.home section.photo img {
        clip-path: none;
    }
    main.single_page article.resume header {
        flex-direction: column;
    }
    main.single_page article.resume header section {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column-reverse;
    }
    body>aside {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body>aside div {
        width: 80%;
    }
}